# Add your local user settings to file `user.bazelrc`
try-import %workspace%/user.bazelrc

common --experimental_ui_max_stdouterr_bytes=9000000

# cc_library builds intermediate `.so` files whose external symbols
# only get resolved at final-binary link time. Tell the linker to
# permit those unresolved references in shared libraries.
build --linkopt=-Wl,--allow-shlib-undefined
